[user]
	email = o111027y@mail.kyutech.jp
	name = Doi Yusuke
[alias]
	a = add
	aa = add -A
	br = branch
	c = commit
	ca = commit -a
	co = checkout
	cob = checkout -b
	d = diff
	dc = diff --cached
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	l = log
	lp = log -p
	ls = log --stat
	s = status
	sh = show
	st = stash
	unstage = reset HEAD --
[color]
	ui = auto
[core]
	editor = vi
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple

