[user]
	email = o111027y@mail.kyutech.jp
	name = Doi Yusuke
[alias]
	a = add
	aa = add -A
	ap = add -p
	au = add -u
	b = branch
	c = commit
	ca = commit -a
	co = checkout
	cob = checkout -b
	d = diff
	dc = diff --cached
	dch = diff --check
	g = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	ga = log --all --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	l = log
	lo = log --oneline
	lp = log -p
	ls = log --stat
	s = status
	sh = show
	st = stash
	unstage = reset HEAD --
[color]
	ui = auto
[core]
	editor = vi
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple
[rerere]
	enabled = true
