[user]
	email = doi.yusuke806@mail.kyutech.jp
	name = Doi Yusuke
	signingkey = A61F7C9512537C7693A7F149343A98945C8D8AED
[alias]
	a = add
	aa = add -A
	ap = add -p
	au = add -u
	b = branch
	ba = branch -a
	bd = branch -d
	c = commit -v
	ca = commit -a -v
	co = checkout
	cob = checkout -b
	cop = checkout -p --
	d = diff
	dc = diff --cached
	dch = diff --check
	g = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	ga = log --all --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	l = log
	ld = git log --diff-filter=D --summary
	lo = log --oneline
	lp = log -p
	ls = log --stat
	s = status
	sh = show
	st = stash
	unstage = reset HEAD --
[color]
	ui = auto
[core]
	editor = vi
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = simple
	gpgSign = if-asked
[rerere]
	enabled = true
[tag]
	forceSignAnnotated = true
[http "https://gopkg.in"]
	followRedirects = true
