[submodule ".vim/pack/cmake/start/vim-cmake-syntax"]
	path = .vim/pack/cmake/start/vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax.git
[submodule ".vim/pack/wandbox/start/wandbox-vim"]
	path = .vim/pack/wandbox/start/wandbox-vim
	url = https://github.com/rhysd/wandbox-vim.git
[submodule ".vim/pack/sounds/start/ttene.nvim"]
	path = .vim/pack/sounds/start/ttene.nvim
	url = https://github.com/himanoa/ttene.nvim.git
[submodule ".vim/pack/sounds/start/sana-natori-vim"]
	path = .vim/pack/sounds/start/sana-natori-vim
	url = https://github.com/forno/sana-natori-vim.git
